@model DapperMvcApp.Models.Entities.User
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Пользователь @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
        <dt>Age</dt>
        <dd>@Model.Age</dd>
    </dl>
</div>
